<h1>Listing Pages</h1><hr />

<a style="right: 50px; margin:5px; position:fixed" class = "btn btn-primary" onclick="$('#treeview').jstree('close_all');">Collapse All</a>
<a style="right: 200px; margin:5px; position:fixed" class = "btn btn-primary" onclick="$('#treeview').jstree('open_all');">Expand All</a>

<button style="right: 55px; top: 225px; margin:5px; position: fixed" class= "btn btn-primary" onclick=
	"
		var checked_id = $('#treeview').jstree('get_selected').attr('id');
		
		if(checked_id == null){
			location.href = '#'
		} else {
			location.href = '/pages/new?parent_id=' + checked_id;
		}
	"
>Create Page in Selected Directory</button>

<div id="treeview" style="width:50%"></div>